<ion-view title="Sign In">
    <ion-content>
        <div class="padding-left padding-top padding-right">
            <h2 class="title" style="text-align: center;">Welcome to Brahh</h2>
        </div>
        <div>
            <div class="list list-inset">
                <label class="item item-input">
                    <input ng-model="username" type="text" placeholder="Username" />
                </label>
                <label class="item item-input">
                    <input ng-model="password" type="password" placeholder="Password" />
                </label>
            </div>
            <div class="padding">
                <button ng-click="login(username, password)" class="button button-block button-positive">Sign In</button>
                <button ng-click="register(username, password)" class="button button-block button-balanced">Register</button>
            </div>
        </div>
    </ion-content>
</ion-view>
