<ion-view view-title="Chats" ng-init="start()">
    <ion-nav-buttons side="right">
        <button class="button icon ion-person-add" ng-click="contactsNav()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-gear" ng-click="profileNav()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item" ng-repeat="chat in data.chats">
                <label style="display: inline-block; float: right; font-size: 65%;">
                    {{chat.time}}
                </label>
                <h2>{{chat.message}}</h2>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" style="position: fixed; height: 15%;">
        <button class="button button-clear button-light button-full ion ion-paper-airplane" style="font-size: 25px;" ng-click="selectUsers()"></button>
    </div>
</ion-view>