<ion-view view-title="Chats" ng-init="start()">
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-telephone" ng-click="contactsNav()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-gear" ng-click="profileNav()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="query">
        </label>
        <div class="list">
            <div class="item" ng-repeat="chat in data.chats | orderBy: 'time' | filter: query">
                <label style="display: inline-block; float: right; font-size: 55%;">
                    {{chat.time}}
                </label>
                <h3>{{chat.message}}</h3>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" style="position: fixed; height: 15%;">
        <button class="button button-clear button-light button-full ion ion-paper-airplane" style="font-size: 25px;" ng-click="selectUsers()"></button>
    </div>
</ion-view>