<ion-view view-title="Chats" ng-init="start()">
    <ion-content>
        <div class="list">
            <a href="#" class="item item-avatar" ng-repeat="chat in data.chats">
                <!-- <img ng-src="{{chat.imgURL}}"> -->
                <h2>{{chat.user}}</h2>
                <label style="display: inline-block; float: right; padding-right: 18px;">
                    {{chat.time}}
                </label>
                <p>{{chat.message}}</p>
            </a>
        </div>
        <form>
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper" style="background-color: white;">
                        <input type="text" placeholder="Message" ng-model="chat.message" style="background-color: white;">
                    </label>
                    <button class="button button-positive ion ion-paper-airplane " ng-click="sendChat(chat)"></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>